<!DOCTYPE html>
<html lang="ru" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
  <body>
    <div class="container">
      <div th:replace="~{fragments/header :: logo}"></div>
      <div th:replace="~{fragments/header :: menu}"></div>

      <div>Director</div>

      <div class="row mt-3">
        <div class="col-3 mt-3" th:each="director : ${director}">
          <div>id[[${director.id}]]</div>
          <div th:text="${director.name} + ' ' + ${director.surname}"></div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li th:class="'page-item ' + ${number == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/director/{id}(id = ${number})}" tabindex="-1">Previous</a>
              </li>
              <li>
                <a class="page-link" th:href="@{/director/{id}(id = ${number}+2)}" tabindex="-1">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div th:replace="~{fragments/footer :: footer}"></div>
    </div>>
  </body>
</html>

